<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Vlox</title>

	<link rel="stylesheet"
				href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
	<link
		type="text/css"
		rel="stylesheet"
		href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>

	<!-- Load polyfills to support older browsers -->
	<script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver"></script>


	<script src="https://unpkg.com/vue@2.6.14/dist/vue.js"></script>
	<script src="https://unpkg.com/http-vue-loader@1.4.2/src/httpVueLoader.js"></script>
	<script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

	<!-- vue validate to process forms -->
	<script src="https://cdn.jsdelivr.net/npm/vee-validate@3.4.9/dist/vee-validate.full.min.js"></script>



	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>

	<!-- Ace code editor -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.4.7/ace.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.7/ext-beautify.js" type="text/javascript" charset="utf-8"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.14.0/beautify.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.14.0/beautify-css.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.14.0/beautify-html.js"></script>
	<!--<script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ext-language_tools.min.js"
					integrity="sha512-8qx1DL/2Wsrrij2TWX5UzvEaYOFVndR7BogdpOyF4ocMfnfkw28qt8ULkXD9Tef0bLvh3TpnSAljDC7uyniEuQ=="
					crossorigin="anonymous"
					referrerpolicy="no-referrer"></script>-->

	<!-- CDNJS :: Sortable (https://cdnjs.com/) -->
	<script src="//cdn.jsdelivr.net/npm/sortablejs@1.8.4/Sortable.min.js"></script>
	<!-- CDNJS :: Vue.Draggable (https://cdnjs.com/) -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.20.0/vuedraggable.umd.min.js"></script>

	<!-- Fontawesome icons -->
	<script src="https://kit.fontawesome.com/440327f28d.js"></script>

	<!-- Vuex libraries-->
	<script src="https://unpkg.com/vuex@2.0.0"></script>
	<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.js"></script>

	<!--Include vuejs-dialog plugin-->
	<link href="https://cdn.jsdelivr.net/npm/vuejs-dialog@1.4.2/dist/vuejs-dialog.min.css" rel="stylesheet">
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vuejs-dialog@1.4.2/dist/vuejs-dialog.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vuejs-dialog@1.4.2/dist/vuejs-dialog-mixin.min.js"></script>

	<link rel="stylesheet" href="../../css/style.css">
</head>
<body>


<div id="app">
  <editor-home></editor-home>
</div>

<script>
	Vue.use(VuejsDialog.main.default);
	Vue.prototype.$restRoute = '/assets/components/vlox';//'/vlox/assets/components/vlox';

	const store = new Vuex.Store({
		state: {
			refreshList: true
		},
		mutations: {
			change (state, refreshList) {
				state.refreshList = refreshList;
			}
		},
		getters: {
			refreshList: state => state.refreshList
		}
	})

  new Vue({
    el: '#app',
		store: store,
    components: {
			'view-block-list': httpVueLoader('./viewBlocksList.vue'),
      'editor-home': httpVueLoader('./editorHome.vue'),
		}
  });
</script>
</body>
</html>